<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Estimating Tools" Language="1033" Version="1.0.0.0" Manufacturer="TEC Systems" UpgradeCode="0b979046-37dd-471c-bb9e-4ae53ed0b348">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="Estimating Tools" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Estimating Tools"/>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="EstimateBuilder">
        <File Source="$(var.EstimateBuilder.TargetPath)"/>
      </Component>
      <!--<Component Id="TemplateBuilder">
        <File Source="$(var.TemplateBuilder.TargetPath)"/>
      </Component>-->
		</ComponentGroup>
	</Fragment>
</Wix>
