<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Estimating Tools" Language="1033" Version="1.0.0.0" Manufacturer="TEC Systems" UpgradeCode="0b979046-37dd-471c-bb9e-4ae53ed0b348">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONROOTDIRECTORY" Name="Estimating Tools">
          <Directory Id="ESTIMATEBUILDERDIRECTORY" Name="Estimate Builder"/>
          <Directory Id="TEMPLATEBUILDERDIRECTORY" Name="Template Builder"/>
        </Directory>
      </Directory>
    </Directory>

		<Feature Id="EstimateBuilder" Title="Estimate Builder" Level="1">
			<ComponentGroupRef Id="EBComponentGroupID"/>
		</Feature>
    <Feature Id="TemplateBuilder" Title="Template Builder" Level="1">
      <ComponentGroupRef Id="TBComponentGroupID"/>
    </Feature>
	</Product>
</Wix>
